{% extends 'base.html.twig' %}

{% block content %}
<h1>Создать корзину</h1>

<div class="card">
    <div class="card-header">
        <h5 class="mb-0">Новая корзина</h5>
    </div>
    <div class="card-body">
        {{ form_start(form) }}

        <div class="row">
            {% for field in form %}
                {% if field.vars.name != '_token' %}
                    <div class="col-md-6 mb-3">
                        {{ form_label(field) }}
                        {{ form_widget(field, {'attr': {'class': 'form-control'}}) }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <button class="btn btn-success">Создать</button>
        <a href="{{ path('app_cart_index') }}" class="btn btn-secondary ms-2">Назад</a>

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
