{% extends 'base.html.twig' %}

{% block content %}
    <h1>Cart</h1>

    <table class="table table-hover table-bordered align-middle">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cart.id }}</td>
            </tr>
            <tr>
                <th>Наименование</th>
                <td>{{ cart.name }}</td>
            </tr>
            <tr>
                <th>Количество</th>
                <td>{{ cart.quantity }}</td>
            </tr>
            <tr>
                <th>Цена</th>
                <td>{{ cart.price }}</td>
            </tr>
            <tr>
                <th>Всего</th>
                <td>{{ cart.totalAmount }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cart_edit', {'id': cart.id}) }}" class="btn btn-primary">Редактировать</a>
    <a href="{{ path('app_cart_index') }}" class="btn btn-secondary">Назад</a>

    {# {{ include('cart/_delete_form.html.twig') }} #}
{% endblock %}
