{% extends 'base.html.twig' %}

{% block title %}Изменение позиции прайса{% endblock %}

{% block content %}
<h1>Изменение позиции прайса {{ price.id }}</h1>

<div class="card">
    <div class="card-body">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success mt-2">Сохранить</button>
        <a  
            href="javascript:history.back()" 
            onclick="if (history.length <= 1) { window.location.href='{{ path('app_price_index') }}'; return false; }" 
            class="btn btn-secondary ms-1 mt-2"
        >
            Назад
        </a>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}