{% extends 'base.html.twig' %}

{% block title %}Редактировать прайс{% endblock %}

{% block content %}
<h1>Редактировать прайс {{ price.price1.amount }}</h1>
<div class="card">
    <div class="card-body">
        {{ form_start(form) }}
        {{ form_row(form.description) }}
        {{ form_row(form.price) }}
        {{ form_row(form.price1) }}
        {{ form_row(form.product) }}
        <button class="btn btn-success">Обновить</button>
        <a href="{{ path('app_price_index') }}" class="btn btn-secondary ms-2">Назад к списку</a>

        {{ form_end(form) }}

    </div>
</div>
{% endblock %}