{% extends 'base.html.twig' %}

{% block title %}Прайс-лист{% endblock %}

{% block content %}

    <h1>Прайс-лист</h1>

    {% include 'search/search_form.html.twig' %}
    {% include 'modals/modal_delete.html.twig' %}

    <table class="table table-hover table-bordered align-middle">
        <thead>
            <tr>
                <th>Id</th>
                <th>Описание</th>
                <th>Цена</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for price in prices %}
            <tr>
                <td>{{ price.id }}</td>
                <td>{{ price.description }}</td>
                <td>{{ price.price }}</td>
                <td>
                    <div class="d-flex justify-content-center">
                        <a href="{{ path('app_price_edit', {'id': price.id}) }}" class="btn btn-sm btn-outline-warning me-2">Редактировать</a>
                        <button
                            type="button"
                            class="btn p-0 remove-item"
                            data-id="{{ price.id }}"
                            data-token="{{ csrf_token('delete' ~ price.id) }}"
                            data-url="{{ path('app_price_delete', {'id': price.id}) }}"
                            style="background: none; border: none; color: #dc3545; font-size: 1.5rem; line-height: 1;"
                        >
                            <i class="bi bi-x"></i>
                        </button>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Записи не найдены</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

