{% extends 'base.html.twig' %}

{% block title %}Price index{% endblock %}

{% block content %}
    <h1>Прайс-лист</h1>

    <table class="table table-hover table-bordered align-middle">
        <thead>
            <tr>
                <th>Id</th>
                <th>Наименование</th>
                <th>Стоимость</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for price in prices %}
            <tr>
                <td>{{ price.id }}</td>
                <td>{{ price.name }}</td>
                <td>{{ price.price }}</td>
                <td>
                    <div class="d-flex">
                        <a href="{{ path('app_price_show', {'id': price.id}) }}" class="btn btn-sm btn-outline-primary me-2">Просмотр</a>
                        <a href="{{ path('app_price_edit', {'id': price.id}) }}" class="btn btn-sm btn-outline-warning me-2">Редактировать</a>
                        <form method="post" action="{{ path('app_price_delete', {'id': price.id}) }}">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ price.id) }}">
                            <button class="btn btn-sm btn-outline-danger">Удалить</button>
                        </form>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Позиции ненайдены</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_price_new') }}">Создать новую позицию</a>
{% endblock %}
