{% extends 'base.html.twig' %}

{% block title %}Новая позиция прайса{% endblock %}

{% block content %}
<h1>Создать позицию прайса</h1>

<div class="card">
    <div class="card-body">
        {{ form_start(form) }}
        {{ form_row(form.description) }}
        {{ form_row(form.price) }}
        {{ form_row(form.product) }}
        <button class="btn btn-success mt-2">Создать</button>
        <a href="{{ path('app_price_index') }}" class="btn btn-secondary ms-1 mt-2">
            Назад
        </a>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}