{% extends 'base.html.twig' %}

{% block title %}Новый прайс{% endblock %}

{% block content %}
<h1>Создать прайс</h1>

<div class="card">
    <div class="card-body">
        {{ form_start(form) }}
        {{ form_row(form.description) }}
        {{ form_row(form.price) }}
        {{ form_row(form.product) }}
        <button class="btn btn-success">Создать</button>
        <a href="{{ path('app_price_index') }}" class="btn btn-secondary">
            Назад к списку
        </a>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}