{% extends 'base.html.twig' %}

{% block title %}Price{% endblock %}

{% block content %}
    <h1>Прайс</h1>

    <table class="table table-hover table-bordered align-middle">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ price.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ price.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ price.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_price_edit', {'id': price.id}) }}" class="btn btn-primary">Редактировать</a>
    <a href="{{ path('app_price_index') }}" class="btn btn-secondary">Назад</a>
{% endblock %}
