{% extends 'base.html.twig' %}

{% block content %}
    <h1>Редактировать заказчика</h1>
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">Редактировать заказчика #{{ customer.id }}</h5>
        </div>
        <div class="card-body">
            {{ form_start(form) }}

            <div class="row">
                <div class="col-md-6 mb-3">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-md-6 mb-3">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-md-6 mb-3">
                    {{ form_label(form.phone) }}
                    {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            <button class="btn btn-success">Сохранить</button>
            <a href="{{ app.request.headers.get('referer') ?: path('app_order_index') }}" class="btn btn-secondary">
                Назад
            </a>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
