{% extends 'base.html.twig' %}


{% block content %}
    <h1>Заказчики</h1>

    <button class="btn btn-secondary mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#filterCollapse" aria-expanded="false" aria-controls="filterCollapse">
        Показать / скрыть фильтр
    </button>

    {% include 'filter/customer_filter_form.html.twig' %}

    <table class="table table-hover table-bordered align-middle">
        <thead>
            <tr>
                <th>Id</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Email</th>
                <th>Телефон</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.surname }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.patronymic }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.phone }}</td>
                <td>
                    <div class="d-flex">
                        <a href="{{ path('app_customer_show', {'id': customer.id}) }}" class="btn btn-sm btn-outline-primary me-2">Просмотр</a>
                        <a href="{{ path('app_customer_edit', {'id': customer.id}) }}" class="btn btn-sm btn-outline-warning me-2">Редактировать</a>
                        <form method="post" action="{{ path('app_customer_delete', {'id': customer.id}) }}">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer.id) }}">
                            <button class="btn btn-sm btn-outline-danger" {% if customer.orders|length > 0 %}disabled{% endif %}>
                                Удалить
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Заказчики ненайдены</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_customer_new') }}" class="btn btn-primary">Создать нового заказчика</a>
{% endblock %}
