{% extends 'base.html.twig' %}


{% block content %}
    <h1>Заказчики</h1>

    {% include 'search/search_form.html.twig' %}
    {% include 'modals/modal_delete.html.twig' %}

    <table class="table table-hover table-bordered align-middle">
        <thead>
            <tr>
                <th>Id</th>
                <th>ФИО</th>
                <th>Email</th>
                <th>Телефон</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% if app.request.get('q') %}
            {% for customer in customers %}
                <tr>
                    <td>{{ customer.id }}</td>
                    <td class="d-flex" style="gap: 20px;">
                        <a href="{{ path('app_customer_show', {'id': customer.id}) }}" class="text-muted" style="text-decoration: underline; text-decoration-thickness: 1px;">{{ customer.name }}</a>
                        <a href="{{ path('app_customer_edit', {'id': customer.id}) }}" class="btn p-0">
                            <i class="bi bi-pencil" style="font-size: 1rem; color: #6c757d;"></i>
                        </a>
                    </td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.phone }}</td>
                    <td>
                        <div class="d-flex justify-content-center align-items-center" style="gap: 8px;">
                            <form method="post" action="{{ path('app_customer_delete', {'id': customer.id}) }}">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ customer.id) }}">
                                    {% if app.request.get('q') %}
                                        <input type="hidden" name="q" value="{{ app.request.get('q') }}">
                                    {% endif %}
                                <button type="submit"
                                        class="btn p-0 remove-item"
                                        data-id="{{ customer.id }}"
                                        data-token="{{ csrf_token('delete' ~ customer.id) }}"
                                        data-url="{{ path('app_customer_delete', {'id': customer.id}) }}"
                                        style="background: none; border: none; color: #dc3545; font-size: 1.5rem; line-height: 1;">
                                        <i class="bi bi-x"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Заказчики ненайдены</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="7">Поиск неосуществлен</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

{% endblock %}
