{% extends 'base.html.twig' %}

{% block content %}
    <h1>Заказчик {{ customer.id }}</h1>
    {% for message in app.flashes('error') %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
    </div>
    {% endfor %}
    <table class="table table-hover  align-middle">
        <tbody>
            <tr><th>Id</th><td>{{ customer.id }}</td></tr>
            <tr><th>ФИО</th><td>{{ customer.name }}</td></tr>
            <tr><th>Email</th><td>{{ customer.email }}</td></tr>
            <tr><th>Phone</th><td>{{ customer.phone }}</td></tr>
        </tbody>
    </table>

    <div class="mb-2">
        <a href="{{ path('app_customer_edit', {'id': customer.id}) }}" class="btn btn-primary">Редактировать</a>
        <a href="{{ app.request.headers.get('referer') ?: path('app_order_index') }}" class="btn btn-secondary">
            Назад
        </a>
    </div>

    <h2>Заказы</h2>

    <table class="table table-hover  align-middle">
        <thead>
            <tr>
                <th>Номер заказа</th>
                <th>Дата заказа</th>
                <th>Сумма заказа</th>
                <th>Сумма оплаты</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for group in ordersGroups %}
            {% if group.orders|length > 0 %}
                <tr><td colspan="7"><span class="{{ group.color }}">{{ group.name }}</span></td></tr>
            {% endif %}
            {% for order in group.orders %}
                <tr>
                    <td class="d-flex" style="gap: 20px;">
                        {{ order.id }}
                        <a href="{{ path('app_order_show', {'id': order.id}) }}" class="btn p-0">
                            <i class="bi bi-pencil" style="font-size: 1rem; color: #6c757d;"></i>
                        </a>
                    </td>
                    <td>{{ order.date ? order.date|date('d.m.Y') : '' }}</td>
                    <td>{{ order.orderTotal }}</td>
                    <td>{{ order.totalPaid }}</td>
                    <td>
                        <div class="d-flex justify-content-center">
                            {% include 'order/_delete.html.twig' %}
                        </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}  
        </tbody>
    </table>
{% endblock %}
