{% extends 'base.html.twig' %}

{% block content %}
<h1>Редактировать продукт {{ product.id }}</h1>

<div class="card">
    <div class="card-body">
        {{ form_start(form) }}

        <div class="row">
            {{ form_row(form.description) }}
            {{ form_row(form.date) }}
            {{ form_row(form.project) }}
            {{ form_row(form.basic) }}
        </div>

        <button class="btn btn-success">Сохранить</button>
        <a href="{{ app.request.headers.get('referer') ?: path('app_product_index') }}" class="btn btn-secondary">
            Назад
        </a>

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}