{% extends 'base.html.twig' %}

{% block title %}Изменение продукта{% endblock %}

{% block content %}
<h1>Изменение продукта {{ product.id }}</h1>

<div class="card">
    <div class="card-body">
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button class="btn btn-success">Сохранить</button>
        <a  
            href="javascript:history.back()" 
            onclick="if (history.length <= 1) { window.location.href='{{ path('app_product_index') }}'; return false; }" 
            class="btn btn-secondary"
        >
            Назад
        </a>

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}