{% extends 'base.html.twig' %}

{% block title %}Новый продукт{% endblock %}

{% block content %}
<h1>Создать продукт</h1>

<div class="card">
    <div class="card-body">
        {{ form_start(form) }}

        <div class="row">
            <div class="col-md-6 mb-3">
                {{ form_label(form.description) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form_label(form.price) }}
                {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <button class="btn btn-success">Создать</button>
        <a href="{{ app.request.headers.get('referer') ?: path('app_order_index') }}" class="btn btn-secondary">
            Назад
        </a>

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}