{% set config = {
    'app_customer_index': {
        'placeholder': 'Введите ФИО или email',
        'new_route': 'app_customer_new',
        'new_text': 'Создать нового заказчика',
        'arg': {'from': 'customer_index'}
    },
    'app_order_index': {
        'placeholder': 'Введите номер или заказчика',
        'new_route': 'app_customer_select',
        'new_text': 'Создать новый заказ',
        'arg': []
    },
    'app_payment_index': {
        'placeholder': 'Введите номер',
        'new_route': 'app_order_select',
        'new_text': 'Создать новый платеж',
        'arg': []
    },
    'default': {
        'placeholder': 'Введите название позиции',
        'new_route': 'app_price_new',
        'new_text': 'Создать новую позицию',
        'arg': []
    }
} %}

{% set currentRoute = app.request.attributes.get('_route') %}
{% set currentConfig = config[currentRoute] ?? config['default'] %}

<div class="mb-4">
    <form method="get" action="{{ path(app.request.attributes.get('_route')) }}">
        <div class="row g-3">

            <div class="col-md-4 d-flex" style="gap: 8px;">
                <div class="input-group" style="width: 300px;">
                    <input
                        type="text"
                        id="filterQuery"
                        name="q"
                        value="{{ query ?? '' }}"
                        class="form-control"
                        placeholder="{{ currentConfig.placeholder }}"
                        style="box-shadow: none; outline: none;"
                    >
                    <button class="btn btn-outline-primary border-0 shadow-none" 
                        type="submit" 
                        title="Поиск"
                        style="background-color: #6c757d;"
                        onmouseover="this.style.backgroundColor='#5a6268'" 
                        onmouseout="this.style.backgroundColor='#6c757d'"
                    >
                        <i class="bi bi-search text-white"></i>
                    </button>
                </div>
                {% if app.request.get('q') %}
                    <a href="{{ path(app.request.attributes.get('_route')) }}" class="btn btn-sm btn-outline-secondary d-flex justify-content-center align-items-center gap-1" style="width: 40px;">
                        <i class="bi bi-x-circle"></i>
                    </a>
                {% endif %}
            </div>

            <div class="col-12">
                <a href="{{ path(currentConfig.new_route, currentConfig.arg) }}" class="btn btn-primary">{{ currentConfig.new_text }}</a>
            </div>
        </div>
    </form>
</div>
