{% extends 'base.html.twig' %}

{% block title %}Изменение заказа{% endblock %}

{% block content %}
<h1>Изменение заказа {{ order.id }}</h1>

<div class="card">
    <div class="card-body">
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button class="btn btn-success">Сохранить</button>
        <a href="{{ path('app_order_show', {'id': order.id}) }}" class="btn btn-secondary ms-1">
            Назад
        </a>

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}