{% extends 'base.html.twig' %} 

{% block content %}
<h1>Заказы</h1>
{% for message in app.flashes('error') %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
    </div>
{% endfor %}
<div class="mb-4 d-flex flex-column flex-md-row justify-content-between gap-3">
    {% include 'order/_filter.html.twig' %}
    <div class="flex-shrink-0">
        <a href="{{ path('app_order_new') }}" class="btn btn-primary">
            Создать новый заказ
        </a>
    </div>
</div>
<table class="table table-hover table-bordered align-middle">
    <thead>
        <tr>
            <th>Номер заказа</th>
            <th>Дата заказа</th>
            <th>Сумма заказа</th>
            <th>Сумма оплаты</th>
            <th>Заказчик</th>
            <th>Статус</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for order in orders %}
        <tr>
            <td>
                <a href="{{ path('app_order_show', {'id': order.id}) }}"
                    class="text-muted"
                    style="text-decoration: underline; text-decoration-thickness: 1px;">
                    {{ order.id }}
                </a>
            </td>
            <td>{{ order.date ? order.date|date('d.m.Y') : '' }}</td>
            <td>{{ order.orderTotal.amount }}</td>
            <td>{{ order.totalPaid.amount }}</td>
            <td>
                <a href="{{ path('app_customer_show', {'id': order.customer.id}) }}"
                class="text-muted"
                style="text-decoration: underline; text-decoration-thickness: 1px;">
                    {{ order.customer.name }}
                </a>
            </td>
            <td>
                {% if order.status.value == constant('App\\Config\\OrderStatus::EMPTY').value %}
                    <span class="text-muted">Пустой</span>
                {% elseif order.status.value == constant('App\\Config\\OrderStatus::UNPAID').value %}
                    <span class="text-secondary">Не оплачен</span>
                {% elseif order.status.value == constant('App\\Config\\OrderStatus::PARTIALLY_PAID').value %}
                    <span class="text-warning">Частично оплачен</span>
                {% elseif order.status.value == constant('App\\Config\\OrderStatus::PAID').value %}
                    <span class="text-success">Оплачен</span>
                {% elseif order.status.value == constant('App\\Config\\OrderStatus::OVERPAID').value %}
                    <span class="text-danger">Переплата</span>
                {% endif %}
            </td>
            <td>
                <div class="d-flex justify-content-center">
                    {% include 'order/_delete.html.twig' %}
                </div>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">Заказы ненайдены</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
