{% extends 'base.html.twig' %} 

{% block content %}
<h1>Заказы</h1>

{% include 'search/search_form.html.twig' %}

<table class="table table-hover table-bordered align-middle">
    <thead>
        <tr>
            <th>Номер заказа</th>
            <th>Дата заказа</th>
            <th>Сумма заказа</th>
            <th>Дата оплаты</th>
            <th>Сумма оплаты</th>
            <th>Заказчик</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
    {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.date ? order.date|date('d.m.Y') : '' }}</td>
            <td>{{ order.amount }}</td>
            <td>{{ order.paymentDate ? order.paymentDate|date('d.m.Y') : '' }}</td>
            <td>{{ order.paymentAmount }}</td>
            <td>
                <a href="{{ path('app_customer_show', {'id': order.customer.id}) }}"
                class="text-muted"
                style="text-decoration: underline; text-decoration-thickness: 1px;">
                    {{ order.customer.name }}
                </a>
                            </td>
            <td class='{{ order.status == 0 ? 'table-danger' : 'table-success' }}'>
                {{ order.status == 0 ? 'Незавершен' : 'Завершен' }}
            </td>
            <td>
                <div class="d-flex">
                    {% if order.status == 0 %}
                    <a href="{{ path('app_order_edit', {'id': order.id}) }}" class="btn btn-sm btn-outline-warning me-2">Корзина</a>
                    <form method="post" action="{{ path('app_order_complete', {'id': order.id}) }}" class="me-2">
                        <input type="hidden" name="_token" value="{{ csrf_token('complete' ~ order.id) }}">
                        <input type="hidden" name="q" value="{{ query }}">
                        <button class="btn btn-sm btn-outline-success">Завершить</button>
                    </form>
                    {% else %}
                    <a href="{{ path('app_order_show', {'id': order.id}) }}" class="btn btn-sm btn-outline-primary me-2">Просмотр</a>
                    {% endif %}
                    <form method="post" action="{{ path('app_order_delete', {'id': order.id}) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ order.id) }}">
                        <button class="btn btn-sm btn-outline-danger"
                            {% if order.paymentAmount or order.paymentDate %}disabled{% endif %}>
                            Удалить
                        </button>
                    </form>
                </div>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">Заказы ненайдены</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
