{% extends 'base.html.twig' %}

{% block title %}Редактировать платеж{% endblock %}

{% block content %}
    <h1>Редактировать платеж {{ payment.id }}</h1>
    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}

            <div class="row">
                {{ form_widget(form) }}
            </div>

            <button class="btn btn-success">Сохранить</button>
            <a  
                href="javascript:history.back()" 
                onclick="if (history.length <= 1) { window.location.href='{{ path('app_payment_index') }}'; return false; }" 
                class="btn btn-secondary"
            >
                Назад
            </a>

            {{ form_end(form) }}
    </div>
{% endblock %}
