{% extends 'base.html.twig' %}

{% block title %}Редактировать платеж{% endblock %}

{% block content %}
    <h1>Редактировать платеж {{ payment.id }}</h1>
    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}

            <div class="row">
                {{ form_widget(form) }}
            </div>

            <button class="btn btn-success">Сохранить</button>
            <a href="{{ app.request.headers.get('referer') ?: path('app_order_index') }}" class="btn btn-secondary">
                Назад
            </a>

            {{ form_end(form) }}
    </div>
{% endblock %}
