{% extends 'base.html.twig' %}

{% block title %}Платеж #{{ payment.id }}{% endblock %}

{% block content %}
    <h1>Платеж #{{ payment.id }}</h1>

    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">Детали платежа</h5>
        </div>
        <div class="card-body">
            <table class="table table-hover table-bordered align-middle">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ payment.id }}</td>
                    </tr>
                    <tr>
                        <th>Номер заказа</th>
                        <td>
                            {% if payment.order.status == 0 %}
                                <a href="{{ path('app_order_edit', {'id': payment.order.id}) }}" 
                                class="text-muted" style="text-decoration: underline; text-decoration-thickness: 1px;">
                                    {{ payment.order.id }}
                                </a>
                            {% else %}
                                <a href="{{ path('app_order_show', {'id': payment.order.id}) }}" 
                                class="text-muted" style="text-decoration: underline; text-decoration-thickness: 1px;">
                                    {{ payment.order.id }}
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Дата</th>
                        <td>{{ payment.date ? payment.date|date('d.m.Y') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Сумма</th>
                        <td>{{ payment.amount }}</td>
                    </tr>
                </tbody>
            </table>

            <a href="{{ path('app_payment_index') }}" class="btn btn-secondary me-2">Назад к списку</a>
            <a href="{{ path('app_payment_edit', {'id': payment.id}) }}" class="btn btn-warning me-2">Редактировать</a>

        </div>
    </div>
{% endblock %}
